WSDL/creditreport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.fakecredit.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
    xmlns:tns="http://ws.fakecredit.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified" targetNamespace="http://ws.fakecredit.com">

            <xsd:complexType name="ArrayOfReport">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Report" nillable="true" type="tns:Report" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Report">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="firstName" nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="lastName" nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="dob" nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="ssn" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="score" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="latestAddress1" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="latestAddress2" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="city" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="state" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="country" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="postalCode" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="liability" type="xsd:integer" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="liquidAssests" type="xsd:integer" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="immovableAssests" type="xsd:integer" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="currency" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="addressValidated" type="xsd:boolean" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfItem">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Item" nillable="true" type="tns:Item" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Item">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="creditReport">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="firstName" type="xsd:string"></xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="lastName" type="xsd:string"></xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="ssn" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="creditReportResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="tns:ArrayOfReport"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="creditReportWithAddressVerification">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="firstName" type="xsd:string" />
                        <xsd:element maxOccurs="1" minOccurs="1" name="lastName" type="xsd:string" />
                        <xsd:element maxOccurs="1" minOccurs="1" name="ssn" type="xsd:string" />
                        <xsd:element maxOccurs="1" minOccurs="1" name="address1" type="xsd:string" />
                        <xsd:element maxOccurs="1" minOccurs="1" name="address2" type="xsd:string" />
                        <xsd:element maxOccurs="1" minOccurs="1" name="city" type="xsd:string" />
                        <xsd:element maxOccurs="1" minOccurs="1" name="state" type="xsd:string" />
                        <xsd:element maxOccurs="1" minOccurs="1" name="postalCode" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="country" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="creditReportWithAddressVerificationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="tns:ArrayOfReport"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="creditReportRequest">
        <wsdl:part name="parameters" element="tns:creditReport"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="creditReportResponse">
        <wsdl:part name="parameters" element="tns:creditReportResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="creditReportWithAddressVerificationRequest">
        <wsdl:part name="parameters" element="tns:creditReportWithAddressVerification"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="creditReportWithAddressVerificationResponse">
        <wsdl:part name="parameters" element="tns:creditReportWithAddressVerificationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CreditReportPortType">
        <wsdl:operation name="creditReport">
            <wsdl:input message="tns:creditReportRequest"></wsdl:input>
            <wsdl:output message="tns:creditReportResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="creditReportWithAddressVerification">
            <wsdl:input message="tns:creditReportWithAddressVerificationRequest"></wsdl:input>
            <wsdl:output message="tns:creditReportWithAddressVerificationResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CreditReportHttpBinding" type="tns:CreditReportPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="creditReport">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="creditReportRequest">
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="creditReportResponse">
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CreditReportService">
        <wsdl:port name="CreditReportHttpPort" binding="tns:CreditReportHttpBinding">
            <wsdlsoap:address location="http://ws.fakecredit.com:8080/services/creditReport" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
